<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
        <link rel="stylesheet" href="../public/stylesheets/hover.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container-fluid contenedor text-center">
            <h1 class="text-center">My Past Projects</h1>
            <div class="container text-center">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
                    <div class="ver_mas text-center">
                        <a target="_blank" class="project-link" href="https://esn-f20sa1.herokuapp.com/">
                            <span class="lnr lnr-eye"></span>
                        </a>
                    </div>
                    <article class="text-left">
                        <h2>Wildfire <br>Social Network</h2>
                        <!-- <h4>Descripción corta de la imagen en cuestión</h4> -->
                    </article>
                    <img src="../utils/images/ESN.jpg" alt="">
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
                    <div class="ver_mas text-center">
                        <a target="_blank" class="project-link" href="https://researchmatch.ece.utexas.edu/">
                            <span class="lnr lnr-eye"></span>
                        </a>
                    </div>
                    <article class="text-left">
                        <h2>ResearchMatch <br>Website</h2>
                        <!-- <h4>Descripción corta de la imagen en cuestión</h4> -->
                    </article>
                    <img src="../utils/images/researchmatch-logo.jpeg" alt="">
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
                    <div class="ver_mas text-center">
                        <a target="_blank" class="project-link" href="https://covid-19-tracker-9885.web.app/">
                            <span class="lnr lnr-eye"></span>
                        </a>
                    </div>
                    <article class="text-left">
                        <h2>COVID-19 <br>Tracker</h2>
                        <!-- <h4>Descripción corta de la imagen en cuestión</h4> -->
                    </article>
                    <img src="../utils/images/covid.png" alt="">
                </div>
            </div>
        </div>
 
 
    </body>
</html>